* {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.header-bg {
  background-color: #000000;
}

.header {
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}

.header-menu {
  display: flex;
  gap: 40px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.header-menu a {
  font-size: 1.187rem;
  color: #ffffff;
  padding: 16px 0px;
  display: inline-block;
  position: relative;
}

.header-menu a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background-color: #ffffff;
  margin-top: 5px;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover:after {
  width: 100%;
}

.introducao-bg {
  background-color: #000000;
}

.introducao {
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  max-width: 1200px;
  display: grid;
  gap: 0px 40px;
  grid-template-columns: 1fr 1fr;
  padding-left: 20px;
  padding-right: 20px;
}

.bicicletas-introducao {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
  justify-content: center;
}

.bicicletas-introducao h1 {
  color: #ffffff;
  font-size: 4rem;
}

.bicicletas-introducao p {
  color: #c2c2c2;
  text-align: left;
  font-size: 1.6rem;
  line-height: 1.5;
  margin-top: 10px;
}

.btn {
  color: #332200;
  align-self: flex-start;
  padding: 16px 32px;
  font-size: 1.25rem;
  border-radius: 4px;
  background: linear-gradient(#ffbf00, #e09601);
  font-weight: 400;
  text-transform: uppercase;
  border: 0px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 1);
  cursor: pointer;
}

.btn:hover {
  background: linear-gradient(#ffb60d, #e59317);
  transform: translatey(-2px);
}

.ponto-amarelo {
  font-size: 4rem;
  color: #faaf0f;
}
