.orcamento-bg {
  box-shadow: inset 0 350px #111111;
}

.orcamento-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  grid-template-columns: 5fr 7fr;
  align-items: start;
  justify-content: center;
  box-sizing: border-box;
  padding-bottom: 120px;
}

.orcamento-opcoes {
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background-color: #000000;
  color: #ffffff;
}

.opcao-card {
  background-color: #404040;
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 10px;
  gap: 10px;
  align-items: start;
  padding: 15px;
  border-radius: 4px;
}

.orcamento-opcoes h2 {
  display: flex;
  align-items: center;
  grid-column: 1/-1;
  color: #c2c2c2;
  line-height: 1.3;
  font-weight: 500;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}
.orcamento-dados {
  background-color: #ffffff;
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
}

.orcamento-dados h2 {
  color: #404040;
  line-height: 1.3;
  font-weight: 500;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  position: relative;
  grid-column: 1/-1;
}

.orcamento-dados h2::before {
  content: "";
  width: 4px;
  height: 8px;
  background-color: #ffbf00;
  position: absolute;
  left: -12px;
  top: 2px;
}

.orcamento-dados label {
  display: block;
  padding-bottom: 4px;
}

.orcamento-dados input {
  /* font-size: 1rem; */
  background-color: #f5f4f4;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
}

.orcamento-dados input:focus {
  outline: none;
  border-color: #eda700;
  box-shadow: 0 0 0 2px rgba(255, 187, 0, 0.336);
}

.cpf {
  grid-column: 1/-1;
}

.email {
  grid-column: 1/-1;
}

.cpf input {
  width: 100%;
}

.orcamento-container .btn {
  font-size: 1rem;
}
