.texto-grande {
  /*font-weight: 600;
   font-size: 4rem;
  line-height: 1.125;
  font-family: "Poppins";*/
  /* RESUMIDO PARA FICAR MAIS CURTO */
  font:
    600 4rem/1.125 "poppins",
    Sans-serif;
}

.texto-medio {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 0px;
  margin-top: 10px;
  color: #999797;
}
