.footer-bg {
  background-color: #000000;
}

.footer-container {
  display: grid;
  grid-template-columns: 3fr 5fr 4fr auto;
  gap: 40px;
  margin: 0 auto;
  max-width: 1200px;
  padding-right: 20px;
  padding: 60px 20px;
  padding-bottom: 60px;
  box-sizing: border-box;
}

.footer-container h5 {
  grid-column: 1/-1;
  font-size: 1.187rem;
  color: #ffffff;
  margin-top: 40px;
}

.contato-container h4 {
  color: #ffffff;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.footer-container h6 {
  color: #ffffff;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.footer-contato {
  margin-bottom: 32px;
}

.footer-contato li {
  color: #c7c7c7;
  font-size: 1.127rem;
  margin-top: 10px;
  padding-bottom: 10px;
}

.espaco {
  padding-top: 20px;
}

.footer-contato li:nth-child(2),
.footer-contato li:nth-child(4) {
  border-bottom: 1px solid #444444;
  width: 400px;
  padding-bottom: 20px;
}

.footer-redes {
  display: flex;
  gap: 25px;
}

.footer-links li {
  padding-bottom: 20px;
}

.footer-links a {
  color: #c7c7c7;
  font-size: 1.25rem;
  padding-bottom: 20px;
}
